/* //////////////////////////////////////////////////
——————————————————————————————————————————————————
RESET
——————————————————————————————————————————————————
////////////////////////////////////////////////// */

* { padding: 0; margin: 0; box-sizing: border-box; }

/* //////////////////////////////////////////////////
——————————————————————————————————————————————————
GENERAL
——————————————————————————————————————————————————
////////////////////////////////////////////////// */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: 400;
  color: #222;
  background: darkred;
  height: 100vh;
  width: 100%;
  padding: 24px;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.container h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 36px;
  position: relative;
}

.container h2:before {
  content: '';
  display: block;
  background: #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: calc(100% + 18px);
  left: 0;
}

.container h2:after {
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-size: 24px;
  font-weight: 800;
  background: darkred;
  padding: 6px;
  position: absolute;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
}

.hide {
  transition: opacity .15s ease-out;
  opacity: 0;
}

.show {
  opacity: 1;
}

/* //////////////////////////////////////////////////
——————————————————————————————————————————————————
TICKET SETTINGS
——————————————————————————————————————————————————
////////////////////////////////////////////////// */

.settings {
  margin-bottom: 32px;
}

.form {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  border-radius: 4px;
}

.form-name, .form-km, .form-age {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33.33%;
  margin-bottom: 12px;
  padding: 15px;
}

      @media screen and (max-width: 748px) {
        .form-name, .form-km, .form-age {
          flex-basis: 100%;
          padding: 0;
        }
      }

.form-buttons {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* ——————————————————————————————————————————————————
Labels */

label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

/* ——————————————————————————————————————————————————
Input */

input[type="text"],
input[type="number"],
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background: #fff;
  width: 100%;
  padding: 4px;
  border: 1px solid #22222240;
  border-bottom: 2px solid darkred;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  background: rgba(255,0,0,.1);
  outline: none;
}

/* ——————————————————————————————————————————————————
Select */

select, select:focus {
  /* Positions background arrow image */
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: calc(100% - 4px) center;
  cursor: pointer;
}

/* ——————————————————————————————————————————————————
Buttons */

.btn {
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0 6px 0;
  min-width: 80px;
  transition: all .1s;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.btn-generate {
  background: darkred;
}

.btn-reset {
  background: #000;
}

.btn-info {
  background: grey;
}

/* //////////////////////////////////////////////////
——————————————————————————————————————————————————
TICKET PRINT
——————————————————————————————————————————————————
////////////////////////////////////////////////// */

.print h2:before {
  content: '';
  display: block;
  background: rgba(255, 255, 255, 0);
  width: 65%;
  min-width: 250px;
  height: 100px;
  border: 5px dotted #fff;
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
}

.print h3, .print h4 {
  text-transform: uppercase;
  font-weight: 400;
}

.print h4 {
  text-transform: uppercase;
  font-weight: 700;
}

.ticket {
  background: #fff;
  padding: 24px;
  border-radius: 4px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

/* ——————————————————————————————————————————————————
Details Name */

.details-name {
  background: grey;
  padding: 12px;
  flex-basis: 20%;
  margin-right: 24px;
}

/* ——————————————————————————————————————————————————
Table */

.details-offer{
  flex-basis: 80%;
  padding: 12px;
}

table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
  white-space: nowrap;
}

    @media screen and (max-width: 992px) {
      table, thead, tbody, th, td, tr {
    		display: block;
    	}

      table {
        white-space: normal;
      }

      thead tr {
    		position: absolute;
    		top: -9999px;
    		left: -9999px;
    	}

      td {
    		/* Display row */
    		border: none;
    		border-bottom: 1px solid #eee;
    		position: relative;
    		padding-left: 65%;
    	}

    	td:before {
    		/* Table Header */
    		position: absolute;
        font-weight: 700;
    		/* Top/left */
    		top: 0;
    		left: 6px;
        font-size: .6em;
    	}

      /*
    	Label Data
    	*/
    	td:nth-of-type(1):before { content: "Offerta"; }
    	td:nth-of-type(2):before { content: "Carrozza"; }
    	td:nth-of-type(3):before { content: "Codice CP"; }
    	td:nth-of-type(4):before { content: "Costo biglietto"; }
    }
